/* @media only screen and (max-width: 767px) {
    #logo img {
        height: 100px;
    }

    #navbar ul li a {
        padding: 5px 15px;
        font-size: 1rem;
    }

    #home h1 {
        font-size: 2.5rem;
    }

    #home p {
        font-size: 1.2rem;
    }

    #inspire .box {
        margin: 15px 15px;
        padding: 20px;
    }

    #inspire .box img {
        height: 100px;
        width: 150px;
    }

    #inspire .box p {
        font-size: 1rem;
    }

    .h-primary {
        font-size: 2.0rem;
        margin-top: 200px;
    }

    .h-secondary {
        font-size: 1.8rem;
    }

    .client-item img {
        height: 150px;
        width: 170px;
    }
} */

@media only screen and (max-width: 450px) {
    #navbar ul {
        display: flex;
        margin-top: 0.625rem;
    }

    #navbar {
        justify-content: center;
    }

    #logo img {
        height: 3.125rem;
        margin-top: 6.25rem;
    }

    #home h1 {
        font-size: 1.25rem;
    }

    #home p {
        font-size: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 15.9375rem;
    }

    #inspire .box {
        margin: 0.625rem 0.625rem;
        padding: 0.9375rem;
    }

    #inspire .box img {
        height: 4.6875rem;
        width: 6.25rem;
    }

    #inspire .box p {
        font-size: 0.5625rem;
    }

    .h-primary {
        font-size: 0.625rem;
        margin-top: -1.4375rem; 
    }

    .h-secondary {
        font-size: 0.3125rem;
    }

    .client-item img {
        height: 7.5rem;
        width: 8.75rem;
    }
    #navbar ul li a {
        padding: 0.3125rem 0.9375rem;
        font-size: 1rem;
        display: block;
    }
    #home{
        width: 100%;
    }
    #inspire{
        margin: 1.875rem 0rem;
        display: flex;
        flex-direction: column;
        margin-left: 12.75rem;
        margin-right: -12.4875rem;
    }
    #clients {
        display: flex;
        justify-content: center;
        align-items: center;
