/* Navigation section  */
#navbar{
    flex-direction: column;
}

/* Home section  */


/* Inspiration section  */
#inspire{
    flex-direction: column;
}

/* Clients section  */
#clients{
    overflow: hidden;
}

/* Footer section */