<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/contactav.css">
</head>

<body>
    </div>
    <h1 class="contact-us">Contact us:</h1>
    <h2>
        <marquee behavior="alternate" direction="right" style="border: 2px solid" id="land"> Dial - 0141-567866
        </marquee>
        <marquee behavior="alternate" direction="right" style="border: 2px solid" id="land"> Dial - 0141-567823 (24*7
            Active)</marquee>
    </h2>
    <h2 class="mailus">Mail us at: <br></h2>
    <div class="myemail">
        aapkevichaar1900@gmail.com<br>
        <br>
        aapkevichaar1901@gmail.com<br>
    </div>
    </div>
    <h2 class="addus">Add us</h2>
    <div class="social">
        <a href="https://instagram.com/aapke_vichaar?igshid=NTA5ZTk1NTc"
            onclick="window.open(this.href, '_blank'); return false;">
            <img class="socialpage" src="../static/Instagram_icon.png.webp" alt="Instagram"
                style="width: 40px; height: 40px;">
        </a>
        <a href="https://twitter.com/Shrivastavahere?t=QA7eK7oQpqLq3LxofkPH1Q&s=08"
            onclick="window.open(this.href, '_blank'); return false;">
            <img class="socialpage1" src="../static/twitter.png" alt="Twitter" style="width: 40px; height: 40px;">
        </a>

        <a href="https://www.snapchat.com/add/keshav6589?share_id=mbQ|T0|__pw&locate=en-US"
            onclick="window.open(this.href, '_blank'); return false;">
            <img class="socialpage2" src="../static/snap.png" alt="Snap" style="width: 40px; height: 40px;">
        </a>

</body>

</html>
</body>

</html>